@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        <h3>Add Project</h3>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="text" class="form-control" name="Name" id="Name" placeholder="project name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="text" class="form-control" name="Duration" id="Duration" placeholder="project duration" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="file" class="form-control" id="Files" name="Files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    }

</div>
